@import '../../scss/variables.scss';

.ButtonBell {

  text-align: right;
  padding:12px;
  border-radius: 4px;
  border:1px;

  & input {
    background-image: url(../../assets/alarm.png);
    background-repeat: no-repeat;

    &.active {
      background-color: $nameColor
    }

    &.inactive {
      background-color: $LightGrey;
    }
  }
}